<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr no</th>
                  <th>Name</th>
                  <th>Contact No</th>
                  <th>Email-Id</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index){
                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.contactNo}}</td>
                    <td>{{item.emailId}}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm" (submit)="onSave()">
        <div class="row">
          <div class="col-12">
            <label for="">Name</label>
            <input type="text" formControlName="name" class="form-control">
            <div 
            *ngIf="employeeForm.get('name')?.hasError('required') && (employeeForm.get('name')?.touched || employeeForm.get('name')?.dirty)"
            class="cross-validation-error-message alert alert-danger">
            Name is Required
          </div>
          </div>
          <div class="col-6">
            <label for="">City</label>
            <input type="text" formControlName="city" class="form-control">
            <div 
            *ngIf="employeeForm.get('city')?.hasError('required') && (employeeForm.get('city')?.touched || employeeForm.get('city')?.dirty)"
            class="cross-validation-error-message alert alert-danger">
            City is Required
          </div>
          </div>
          <div class="col-6">
            <label for="">State</label>
            <input type="text" formControlName="state" class="form-control">
            <div 
            *ngIf="employeeForm.get('state')?.hasError('required') && (employeeForm.get('state')?.touched || employeeForm.get('state')?.dirty)"
            class="cross-validation-error-message alert alert-danger">
            State is Required
          </div>
          </div>
          <div class="col-6">
            <label for="">Password</label>
            <input type="password" formControlName="password" class="form-control">
            <div
            *ngIf="employeeForm.get('password')?.hasError('pattern') && (employeeForm.get('password')?.touched || employeeForm.get('password')?.dirty)"
            class="cross-validation-error-message alert alert-danger">
            Password must have 1 UpperCase, 1 LowerCase, 1 SpecialCharacter, 1 Number
          </div>
          </div>
          <div class="col-6">
            <label for="">ContactNo</label>
            <input type="text" formControlName="contactNo" class="form-control">
            <div
              *ngIf="employeeForm.get('contactNo')?.hasError('required') && (employeeForm.get('contactNo')?.touched || employeeForm.get('contactNo')?.dirty)"
              class="cross-validation-error-message alert alert-danger">
              Number is Required
            </div>
          </div>
          <div class="col-6">
            <label for="">Pincode</label>
            <input type="text" formControlName="pinCode" class="form-control">
            <div 
              *ngIf="employeeForm.get('pinCode')?.hasError('required') && (employeeForm.get('pinCode')?.touched || employeeForm.get('pinCode')?.dirty)"
              class="cross-validation-error-message alert alert-danger">
              Pincode is Required
            </div>
          </div>
          <div class="col-6">
            <label for="">E-mail</label>
            <input type="email" formControlName="emailId" class="form-control">
            <div 
              *ngIf="employeeForm.get('emailId')?.hasError('email') && (employeeForm.get('emailId')?.touched || employeeForm.get('emailId')?.dirty)"
              class="cross-validation-error-message alert alert-danger">
              invalid E-mail format
            </div>
          </div>
          <div class="col-12">
            <label for="">Address</label>
            <textarea formControlName="address" class="form-control"></textarea>
            <div 
            *ngIf="employeeForm.get('address')?.hasError('required') && (employeeForm.get('address')?.touched || employeeForm.get('address')?.dirty)"
            class="cross-validation-error-message alert alert-danger">
            Address is Required
          </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6 text-center">
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
          <div class="col-6 text-center">
            <!-- <input type="submit" class="btn btn-secondary" [disabled]="!employeeForm.valid"> -->
            <button type="submit" class="btn btn-secondary" [disabled]="!employeeForm.valid">Save Employee</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
